body {
  background-color: silver;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blueviolet;

  text-align: center;
  padding: 3rem;
}
a {
  animation: animation 5s;
  background-color: blanchedalmond;
  animation-iteration-count: infinite;
}
@keyframes animation {
  from {
    color: pink;
  }
  to {
    color: blue;
  }
}
