body {
  background-color: rgb(191, 0, 254);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(48, 255, 25);
  text-align: center;
  padding: 3rem;
}
p {
  animation: animation 5s;
  animation-iteration-count: infinite;
}
@keyframes animation {
  from {
    color: rgb(0, 255, 30);
  }
  to {
    color: rgb(0, 255, 255);
  }
}
